<!DOCTYPE html>
<html lang="en">
<head>
<title>Notaneitor</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>

	<!-- Barra de Navegación superior -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<img src="/img/student-48.png" alt="logo" />
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/mark/list"
						th:text="#{see.mark.message}"> <span
							class="glyphicon glyphicon-user"></span>Ver Notas
					</a></li>
					<li><a href="/mark/add" th:text="#{add.mark.message}"> <span
							class="glyphicon glyphicon-user"></span></a></li>
					<li><a href="/mark/filter" th:text="#{filter.mark.message}">
							<span class="glyphicon glyphicon-user"></span>
					</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/registrarse" th:text="#{signup.message}"><span
							class="glyphicon glyphicon-user"></span> </a></li>
					<li><a href="/identificarse" th:text="#{login.message}"><span
							class="glyphicon glyphicon-log-in"></span> Identifícate</a></li>
				</ul>
			</div>
		</div>
	</nav>



	<div class="container">
		<h2 th:text="#{mark.message}"></h2>
		<button type="button" id="updateButton" class="btn btn-default"
			th:text="#{update.message}"></button>
		<script>
			$("#updateButton").click(function() {
				$("#tableMarks").load('/mark/list/update');
			});
		</script>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableMarks"
				id="tableMarks">
				<thead>
					<tr>
						<th class="col-md-1">id</th>
						<th th:text="#{description.message}"></th>
						<th th:text="#{score.message}"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="mark : ${markList}">
						<td th:text="${mark.id}">1</td>
						<td th:text="${mark.description}">Ejercicio 1</td>
						<td th:text="${mark.score}">10</td>
						<td><a th:href="${'/mark/details/' + mark.id}"
							th:text="#{detail.message}"> <span
								class="glyphicon glyphicon-log-in"></span>
						</a></td>
						<td><a th:href="${'/mark/edit/' + mark.id}"
							th:text="#{user.modify}"> <span
								class="glyphicon glyphicon-log-in"></span>
						</a></td>
						<td><a th:href="${'/mark/delete/' + mark.id}"
							th:text="#{remove.message}"> <span
								class="glyphicon glyphicon-log-in"></span>
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>